.userContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    gap: 1.5rem;
    height: 100%;
}

.noPicContainer {
    composes: userContainer;
    gap: 3rem;

}

.imageContainer {
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
}

.textField {
    width: 80%;
    max-width: 600px;
}

.restoreButton {
    display: flex;
    cursor: pointer;
    gap: 1rem;
}


.restore {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 38px;
    width: 80%;
}