@value textDark, bgSubdued1, bgColourful1, primary, secondary from "@genai-fi/base/css/colours.module.css";

.library {
    background: linear-gradient(45deg, rgba(23, 83, 114, 0.94), rgba(36, 43, 44, 0.178));
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 1rem;
    box-sizing: border-box;
    align-items: center;
    overflow-y: auto;
}

.library h1 {
    color: white;
}

/*
TODO: Background color tuning and theming of everything
background:linear-gradient(45deg, rgba(45, 236, 239, 0.309), rgba(24, 249, 253, 0.519));
background: linear-gradient(45deg, rgba(127, 126, 187, 0.677), rgba(19, 62, 123, 0.38));
*/
.content {
    padding: 1rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 2rem;
    max-width: 1200px;
    border-radius: 2rem;
}

.content ul {
    list-style: none;
    margin: 0;
    padding: 10px 20px;
    max-width: 100dvw;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
    padding-bottom: 2rem;
}

.content li {
    flex: 0 1 300px;
    min-height: 200px;
    background: linear-gradient(45deg, rgb(218, 255, 255), rgb(235, 255, 255));
    border-radius: 6px;
    box-shadow: 0 0 4px #888;
    overflow: hidden;
    cursor: pointer;
}

.content li:hover {
    box-shadow: 0 0 4px secondary;
}

.imageContainer {
    margin-top: 1rem;
    line-height: 0;
}

.content a {
    text-decoration: none;
    color: textDark;
}

.content h2 {
    margin: 0.5rem 1rem;
    font-size: 1.1rem;
}

.description {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-style: italic;
    font-size: 0.9rem;
    flex-grow: 1;
}

@media (max-width: 440px) {
    .content ul {
        scale: 0.9;
        padding: 0;
        margin: 0;
    }

    .library {
        background-color: white;
        padding: 0;
        margin: 0;
    }
}