@value bgSubdued1, borderBrightBlue, textDark from "@genai-fi/base/css/colours.module.css";

.title {
    background: bgSubdued1;
    border-bottom: 2px solid borderBrightBlue;
}

.column {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    flex-grow: 1;
    padding: 1rem;
}

.label {
    margin-top: 1rem;
}

.spacer {
    width: 100%;
    min-height: 1rem;
}
