.canvasContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.heatmapContainer {
    position: absolute;
    display: flex;
    justify-content: center;
}

.heatmapCanvas {
    background: #4646aec1;
    width: 512px;
    max-width: 100%;
}

.webcamWrapper {
    width: 100%;
}

.webcamWrapper canvas {
    width: 100%;
}


/*Baseline evaluating filter for webcameran*/
.paused {
    filter: grayscale(0.4) brightness(0.8);
    backdrop-filter: blur(4px);
}

/*Webcam filter*/
.filtered {
    filter: brightness(1.05);
}

/*Text-overlay for webcam image*/
.overlayText {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    text-align: center;
    z-index: 2;
}

/* Change imported webcam style*/
.webcamWrapper [class*='wrapContainer'] {
    color: rgb(48, 189, 173);
}

.webcamWrapper [class*='Mui'] {
    position: absolute;
    right: 6px;
    top: 6px;
}