.canvasContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.heatmapContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    pointer-events: none;
}

.heatmapCanvas {
    width: 512px;
    max-width: 100%;
    pointer-events: none;
    position: absolute;
}

.hiddenCanvas {
    position: absolute;
    visibility: hidden;
    width: 224px;
    height: 224px;
    top: -10000px;
    left: -10000px;
}

.webcamWrapper canvas {
    width: 100%;
    position: relative;
}

/*Text-overlay for webcam image*/
.pauseLayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    backdrop-filter: blur(10px);
    font-size: xx-large;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    z-index: 9;
}

.canvasWrapper {
    display: flex;

}

/* Change imported webcam style*/
.webcamWrapper [class*='wrapContainer'] {
    color: rgb(48, 189, 173);
}

.webcamWrapper [class*='Mui'] {
    position: absolute;
    right: 6px;
    top: 6px;
    z-index: 1;
}

/*For displaying text that camera is not active on top of the webcam component*/
.cameraNotActive {
    gap: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    align-self: center;
    justify-self: center;
    background-color: rgba(240, 248, 255, 0.712);
    border-radius: 4px;
    padding: 4px 8px;
    backdrop-filter: blur(10px) brightness(150%);
    z-index: 10000;
}