.frontpage {
    background: linear-gradient(45deg, rgba(23, 83, 114, 0.94), rgba(36, 43, 44, 0.178));
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100dvh;
    align-self: center;
    justify-content: center;
    padding: 0 0 2rem 0;
    overflow: auto;
    align-items: center;
}

.codeInput {

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
}

.frontpage h1 {
    font-family: 'Tektur';
    font-weight: bold;
    font-size: 3rem;
    margin: 0;
    color: white;
}

.content {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 1rem 16px;
    margin: 0;
}

.or {
    font-size: 1.2rem;
    font-weight: 600;
    font-style: italic;
    color: #444;
}

.startBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
    background: linear-gradient(45deg, rgb(212, 255, 255), rgb(235, 255, 255));
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    gap: 1.5rem;
    padding: 3rem;
    min-height: 230px;
    min-width: 200px;
    max-height: 500px;
}

.logo {
    display: block;
}

@media (max-width: 600px) {
    .frontpage h1 {
        font-size: 2rem;
    }

    .startBox {
        box-shadow: none;
    }
}

@media (max-height: 600px) {
    .logo {
        display: none;
    }

    .startBox {
        box-shadow: none;
        padding: 8px;
        justify-content: space-evenly;
        height: 100%;
        gap: 0
    }
}