.container {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    align-self: center;
    box-sizing: border-box;
    justify-content: center;
    padding: 2rem;
    overflow: auto;
    background: white;
    align-items: center;
}

.container header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.container h1 {
    font-family: 'Tektur';
    font-weight: bold;
    font-size: 3rem;
    margin: 0;
}

.innerContainer {
    max-width: 700px;
    width: 100%;
    align-items: center;
    margin: 0;
}