.frontpage {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100dvh;
    align-self: center;
    justify-content: center;
    padding: 0 0 2rem 0;
    overflow: auto;
    background: white;
    align-items: center;
}

.frontpage h1 {
    font-family: 'Tektur';
    font-weight: bold;
    font-size: 3rem;
    margin: 0;
}

.content {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 1rem 16px;
    margin: 0;
}

.or {
    font-size: 1.2rem;
    font-weight: 700;
    font-style: italic;
    color: #444;
}

.startBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
    background-color: rgba(255,
            255,
            255,
            0.421);
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    gap: 1.5rem;
    padding: 3rem;
    min-height: 230px;
    min-width: 200px;
    max-height: 500px;
}

.logo {
    display: block;
}

@media (max-width: 600px) {
    .frontpage h1 {
        font-size: 2rem;
    }

    .startBox {
        box-shadow: none;
    }
}

@media (max-height: 600px) {
    .logo {
        display: none;
    }

    .startBox {
        box-shadow: none;
        padding: 0;
        justify-content: space-evenly;
        height: 100%;
        gap: 0
    }
}