.container {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    width: 100%;
    height: 100dvh;
    align-self: center;
    justify-content: center;
    justify-self: center;
    padding: 2rem;
    overflow: auto;
    background: white;
    align-items: center;
}

.container h1 {
    font-family: 'Tektur';
    font-weight: bold;
    font-size: 3rem;
    margin: 0;
}

.innerContainer {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 1rem 16px;
    margin: 0;
}

.or {
    font-size: 1.2rem;
    font-weight: 700;
    font-style: italic;
    color: #444;
}

.modeContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    color: black;
    background-color: rgba(255,
            255,
            255,
            0.421);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    gap: 2rem;
    backdrop-filter: blur(10px);
}

.modeItem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    cursor: pointer;
    min-height: 300px;
    padding: 10px;
    color: black;
    background-color: rgba(255,
            255,
            255,
            0.421);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    gap: 0.5rem;
    backdrop-filter: blur(10px);
}

.modeItem:hover {
    transform: scale(1.02);
}

.initialOpen {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.7s ease-in-out;
}

.initialClosed {
    display: flex;
    flex-direction: column;
    opacity: 0;
    height: 0;
    width: 0;
}

.collapsibleContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.3s ease;
    opacity: 1;
    padding: 1rem;
}

.collapsed {
    max-height: 0;
    height: 0;
    min-width: 200px;
    opacity: 0;
}

.expanded {
    min-height: 230px;
    min-width: 200px;
    max-height: 500px;
    opacity: 1;
}