@value textDark from "@knicos/genai-base/css/colours.module.css";

.lang {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    color: #aaa;
    background-color: #ffffffbb;
    border-top-left-radius: 20px;
    padding: 2px 10px 0px 6px;
}