.container {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    align-self: center;
    overflow: auto;
    background: #dee4e8;
    align-items: center;
}

.innerContainer {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    height: 100%;
    width: 100%;
}

.studentControlContainer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.serverProtocolContainer {
    position: absolute;
    top: 50%;
}

.event-item-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
    color: black;
    background-color: rgba(255,
            255,
            255,
            0.421);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    gap: 8px;
    backdrop-filter: blur(10px);
}

.resultsContainer {
    margin-bottom: 32px
}

.topStudentsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
}

.topStudentItem {
    border: 1px solid #ccc;
    padding: 8
}

.galleryContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.openImageOverlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.imageWrapper {
    position: relative;
    display: inline-block;
}