.teacher {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #1c252c;
}

h1 {
    color: white
}

h3 {
    color: white
}

.content {
    flex-grow: 1;
}

.controlLayer {
    position: absolute;
    width: -webkit-fill-available;
    bottom: 0;
    pointer-events: none;
    z-index: 11;
}

.controlLayer>* {
    pointer-events: auto;
    /* klikit takaisin */
    margin-bottom: 1rem;
}

.serverProtocolContainer {
    position: absolute;
    right: 1.5rem;
    top: 1rem;
}