.teacher {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #1c252c;
}

h1 {
    color: white
}

h3 {
    color: white
}

.content {
    flex-grow: 1;
}

.serverProtocolContainer {
    position: absolute;
    right: 1.5rem;
    top: 1rem;
}