.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #dee4e8;
}

.content {
    flex-grow: 1;
}

.sideMenu {
    height: 100%;
    position: sticky;
    top: 0;
    align-self: flex-start;
}

.innerContainer {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    width: 100%;
}

.studentControlContainer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.serverProtocolContainer {
    position: absolute;
    right: 10px;
    top: 10px
}

.termItem {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255,
            255,
            255,
            0.421);
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    padding: 0 2rem 0.5rem 2rem;
}

.termItemContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: min-content;
    opacity: 0.2;
    background-color: rgba(255,
            255,
            255,
            0.421);
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    gap: 2rem;
    backdrop-filter: blur(10px);
    max-height: 0;
    overflow: hidden;
    padding: 0;
}

.termItemContainerOpen {
    opacity: 1;
    padding: 2rem;
    transition: opacity 0.7s ease;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255,
            255,
            255,
            0.421);
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    gap: 2rem;
    backdrop-filter: blur(10px);
}

.resultsContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 32px;
}

.termContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem
}

.topStudentsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
}

.topStudentItem {
    border: 3px solid #d2ac00;
    padding: 8
}

.otherStudentItem {
    border: 3px solid #ccc;
    padding: 8
}

.openImageOverlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.imageWrapper {
    position: relative;
    display: inline-block;
}