.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #dee4e8;
}

.content {
    flex-grow: 1;
}

.sideMenu {
    height: 100%;
    position: sticky;
    top: 0;
    align-self: flex-start;
}

.serverProtocolContainer {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1003;
}