.leaderboard {
    container-name: board;
    container-type: inline-size;
    display: flex;
    padding-top: 2rem;
    gap: 1rem;
    width: 95%;
    height: 100%;
    overflow: auto;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(45deg, rgba(30, 249, 30, 0.178), rgba(243, 239, 38, 0.372));
    /*background: linear-gradient(45deg, rgba(53, 99, 251, 0.178), rgba(31, 212, 225, 0.372));*/
    margin-bottom: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    backdrop-filter: blur(10px);
}

.hidePictures {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.leaderboardItem {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    padding: 0rem 0rem 0rem 0rem;
    border-radius: 2rem;
    margin-bottom: 10px;
    width: 80%;
    max-width: 80%;
    margin-top: 10px;
    text-align: center;
    background: linear-gradient(45deg, rgba(53, 99, 251, 0.677), rgba(31, 212, 225, 0.38));
}

.leaderboardPlace {
    display: flex;
    flex-direction: row;
    padding: 2rem 2rem 2rem 2rem;
    scale: 1.1;
    border-radius: 2rem 0 0 2rem;
    background-color: rgb(62, 84, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    backdrop-filter: blur(10px);
    font-weight: bolder;
    font-size: xx-large;
    color: #ffda35;
}

.avatarWrapper {
    position: relative;
    display: inline-block;
    width: fit-content;
}

.crownImg {
    position: absolute;
    top: -40px;
    left: -40px;
    z-index: 2;
    pointer-events: none;
    transform: rotate(-35deg);
}

.scoreRow {
    display: flex;
    flex-direction: row;
    flex: 1;
    min-width: 0;
    align-items: center;
    justify-content: space-between;
}

.studentInfo {
    display: flex;
    flex-direction: row;
    border-radius: 50% 0 0 50%;
    padding-right: 2rem;
    background: linear-gradient(45deg, rgba(53, 99, 251, 0.178), rgba(31, 212, 225, 0));
    gap: 1.5rem;
}

.leaderboardInfo {
    display: flex;
    flex-direction: row;
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.421);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    backdrop-filter: blur(10px);
    justify-content: space-between;
    min-width: fit-content;
}

.viewPhotoButton {
    display: none;
    gap: 1rem;
    padding: 0.5rem;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin-right: 1rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 1rem 1rem 1rem 1rem;
}

.visButton {
    display: none;
    margin-right: 1rem;
    cursor: pointer;
    align-self: center;
    align-items: center;
    align-content: center;
    height: fit-content;
}


.hiddenByStudent {
    margin-right: 1rem;
}

.allPics {
    display: none;
    max-width: 50%;
    flex-shrink: 1;
    align-items: center;
    overflow-x: auto;
    gap: 0.5rem;
    margin-right: 1.5rem;
    white-space: nowrap;
    scrollbar-color: rgb(94, 148, 136) lightblue;
}

.image {
    border-radius: 1rem;
}

.score {
    display: flex;
    flex-direction: row;
    padding: 2rem 2rem 2rem 2rem;
    height: 100%;
    scale: 1.1;
    border-radius: 0 2rem 2rem 0;
    background-color: rgb(255, 238, 82);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.resetScore {
    position: absolute;
    top: -18px;
    right: -26px;
}

.infoData {
    font-size: x-large;
    align-content: center;
}

@container board (width > 700px) {
    .allPics {
        display: flex;
    }

    .viewPhotoButton {
        display: flex;
    }

    .visButton {
        display: flex;
    }
}