.leaderboard {
    display: flex;
    padding-top: 2rem;
    gap: 1rem;
    width: 95%;
    height: 90dvh;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    overflow: auto;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(45deg, rgba(30, 249, 30, 0.178), rgba(243, 239, 38, 0.372));
    /*background: linear-gradient(45deg, rgba(53, 99, 251, 0.178), rgba(31, 212, 225, 0.372));*/

    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    text-align: center;
    backdrop-filter: blur(10px);
}

.leaderboardItem {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    padding: 0rem 0rem 0rem 0rem;
    border-radius: 2rem;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    background: linear-gradient(45deg, rgba(53, 99, 251, 0.677), rgba(31, 212, 225, 0.38));
}

.leaderboardPlace {
    display: flex;
    flex-direction: row;
    padding: 2rem 2rem 2rem 2rem;
    scale: 1.1;
    border-radius: 2rem 0 0 2rem;
    background-color: rgb(62, 84, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    backdrop-filter: blur(10px);
    font-weight: bolder;
    font-size: xx-large;
    color: #ffda35;
}

.avatarWrapper {
    position: relative;
    display: inline-block;
    width: fit-content;
}

.crownImg {
    position: absolute;
    top: -40px;
    left: -40px;
    z-index: 2;
    pointer-events: none;
    transform: rotate(-35deg);
}

.scoreRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50vw;
    align-items: center;
}

.studentInfo {
    display: flex;
    flex-direction: row;
    border-radius: 50% 0 0 50%;
    padding-right: 2rem;
    background: linear-gradient(45deg, rgba(53, 99, 251, 0.178), rgba(31, 212, 225, 0));
    gap: 1.5rem;
}

.leaderboardInfo {
    display: flex;
    flex-direction: row;
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.421);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    backdrop-filter: blur(10px);
    justify-content: space-between;
    min-width: fit-content;
}

.viewPhotoButton {
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin-right: 1rem;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 1rem 1rem 1rem 1rem;
}

.visButton {
    margin-right: 1rem;
    cursor: pointer;
}

.hiddenByStudent {
    margin-right: 1rem;
}

.allPics {
    display: none;
    max-width: 10dvw;
    align-items: center;
    overflow-x: auto;
    gap: 0.5rem;
    justify-content: start;
    margin-right: 1.5rem;
    scrollbar-color: rgb(94, 148, 136) lightblue;
}

.image {
    border-radius: 1rem;
}

.score {
    display: flex;
    flex-direction: row;
    padding: 2rem 2rem 2rem 2rem;
    height: 100%;
    scale: 1.1;
    border-radius: 0 2rem 2rem 0;
    background-color: rgb(255, 238, 82);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.infoData {
    font-size: x-large;
    align-content: center;
}

.topPictureContainer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

/*For opened images*/
.openImageOverlay {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    z-index: 5;
}

@media (min-width: 1200px) {
    .leaderboard::before {
        background-size: calc(100% / 15);
    }

    .allPics {
        display: flex;
    }
}

@media (min-width: 1400px) {
    .leaderboard::before {
        background-size: calc(100% / 29);
    }
}
