@value secondary from "@knicos/genai-base/css/colours.module.css";

.overallScoreContainer {
    margin-top: 24px;
    min-width: 300px;
    max-width: 70dvw;
    width: 50dvw;
    padding: 10px;
    color: black;
    margin-bottom: 4px;
    background-color: rgba(255, 251, 221, 0.421);
    padding: 0px 0px 20px 0px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px) brightness(120%);
}

.scoreDetails {
    max-height: 0;
    max-width: fit-content;
    overflow: hidden;
}

.scoreDetailsOpen {
    overflow: hidden;
    width: 100%;
    max-height: 1000px;
    transition: max-height 0.6s ease;
    /* tarpeeksi iso kaikelle sisällölle */
}

.scoresContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 8px 20px;
}

.termItemRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: fit-content;
    width: 90%;
    max-width: 500px;
    gap: 18px;
    justify-content: space-between;
}

/* Has the scores of single term*/
.termItemContainer {
    display: flex;
    min-width: 80%;
    max-width: 95dvw;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: black;
    background-color: rgba(255,
            255,
            255,
            0.421);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    gap: 8px;
    backdrop-filter: blur(10px);
}

/* Contains the canvases*/
.topCanvasContainer {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    max-height: 400px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

/* One canvas for top-image and one for heatmap*/
.topCanvas {
    max-width: 400px;
    max-height: fit-content;
    width: 100%;
    border-radius: 10px;
}

/*TopScore-bar*/
.scoreBarContainer {
    width: 50%;
    padding-top: 30px;
    text-align: left;
}

.scoreBar {
    position: relative;
    display: block;
    padding: 5px 5px 5px 5px;
    overflow: hidden;
    font-size: 16px;
    line-height: 16px;
    border-radius: 30px;
    background: rgba(110, 175, 124, 0.114);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.8);
}

.scoreBar span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    height: 20px;
    border-radius: 10px 4px 4px 10px;
    background-color: #f56982;
    /*asetetaan parempi? väri tänne vaikka kulta*/
    background-size: 100%;
    background-image: linear-gradient(to bottom, #f9e31d, #fbff28);
    /*animation: scoreBar 6s infinite linear;*/
}

.scoreBar span::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    border-radius: 10px;
    background-size: 100%;
    background-image: linear-gradient(45deg, #fff 25%,
            rgba(0, 0, 0, 0)25%,
            rgba(0, 0, 0, 0)50%,
            #fff 50%,
            #fff 75%,
            rgba(0, 0, 0, 0)75%,
            rgba(0, 0, 0, 0));
    background-size: 30px 30px;
    opacity: 0.4;
    animation: scoreBarAfter 0.7s infinite linear;
}

.scoreBarToolTip {
    position: relative;
    display: block;
    top: -28px;
    z-index: 1;
}

.scoreBarToolTip span::before {
    position: absolute;
    right: 2px;
    bottom: 100%;
    display: inline-block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right-width: 0;
    border-bottom-width: 0;
    border-top-color: rgb(255, 229, 28);
    content: "";
}

.scoreBarToolTip span::after {
    position: absolute;
    right: 2px;
    bottom: calc(100% + 5px);
    z-index: 1;
    display: inline-block;
    content: attr(data-label);
    padding: 5px 8px;
    border-radius: 3px;
    font-size: 0.8em;
    background-color: rgb(240, 237, 34);
    color: #000000;
}

.innerContainer {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
}

.termNamesContainer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.resultsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.termItem {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: rgba(255,
            255,
            255,
            0.421);
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    padding: 0 2rem 0rem 2rem;
    cursor: pointer;
}

.selectedTermItem {
    composes: termItem;
    background: rgba(174, 37, 174, 0.328);
}

.termItem:hover {
    /*transform: scale(1.1, 1.1);*/
    box-shadow: 0 0 8px secondary;
}

.termItem:focus {
    /*transform: scale(1.1, 1.1);*/
    box-shadow: 0 0 8px secondary;
}

.termItemContainerOpen {
    opacity: 1;
    padding: 2rem;
    transition: opacity 0.7s ease;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255,
            255,
            255,
            0.421);
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    gap: 2rem;
    backdrop-filter: blur(10px);
}

.topStudentsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
}

.topStudentItem {
    border: 3px solid #d2ac00;
    padding: 8
}

.otherStudentItem {
    border: 3px solid #ccc;
    padding: 8
}

.openImageOverlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.imageWrapper {
    position: relative;
    display: inline-block;
}

@keyframes scoreBarAfter {
    0% {
        background-position: 0 100%;
    }

    100% {
        background-position: 30px 100%;
    }
}

/*..Scorebar ends*/

@media (max-width: 600px) {
    .termItemRow {
        flex-direction: column;
    }
}