@value secondary from "@genai-fi/base/css/colours.module.css";

.scoreboard {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    height: 95%;
    gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}