.studentControlContainer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.selectorItem {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 2rem 0.5rem 2rem;
}

.selectorContainer {
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    gap: 2rem;
}

.modeContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    color: black;

    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    gap: 2rem;
    backdrop-filter: blur(10px);
    min-width: 80%;
    width: 80%;
}

.modeItem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    cursor: pointer;
    min-height: 300px;
    padding: 10px;
    color: black;
    background-color: rgba(255,
            255,
            255,
            0.421);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    gap: 0.5rem;
    backdrop-filter: blur(10px);
}

.modeItem:hover {
    transform: scale(1.02);
}


.initialOpen {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.7s ease-in-out;
}

.initialClosed {
    display: flex;
    flex-direction: column;
    opacity: 0;
    height: 0;
    width: 0;
}

.collapsibleContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    overflow: hidden;
    transition: max-height 0.4s ease;
    opacity: 1;
    padding: 1rem;
}

.collapsed {
    max-height: 0;
    height: 0;
    width: 300px;
    opacity: 0;
}

.expanded {
    min-height: 230px;
    min-width: 200px;
    max-height: 500px;
    opacity: 1;
}

.selected {
    border: 8px solid rgba(138, 232, 113, 0.752);
    border-radius: 10px;
}