.studentControlContainer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.selectorItem {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.termChange {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}

.termSelector {
    padding: 4px;
    margin: 1rem;
    width: 100%;
    max-width: 50dvw;
    max-height: 600px;
}

.modeContainer {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 2rem;
}

.modeItem {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
    max-width: 800px;
    max-height: 80dvh;
    margin: auto;
    min-width: 30dvw;
    gap: 2.5rem;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.934);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modeContainer h1 {
    color: black;
    font-size: 2.5rem;
}

.initialOpen {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.7s ease-in-out;
}

.initialClosed {
    display: flex;
    flex-direction: column;
    opacity: 0;
    height: 0;
    width: 0;
}

.modelChange {
    display: flex;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 1.2rem;
    background-color: rgba(255, 255, 255, 0.934);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (min-width: 1030px) {
    .modeItem {
        padding: 2rem 3rem 2rem 3rem;
    }
}