/*For opened images in ImageView.tsx*/
.openImageOverlay {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.imageContainer {
    position: relative;
    max-width: 90vw;
    max-height: 90vh;
}

.imageContainer img {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 0 24px #000;
    display: block;
}

.topPictureContainer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

/*For opened images in OpenedImage.tsx*/
.openImageOverlay2 {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    z-index: 1500;
    height: 100vh;
    width: 100vw;
}