/*For opened images in ImageView.tsx*/
.openImageOverlay {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    z-index: 1500;
}

.topPictureContainer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    max-width: 70vw;
}



/*For opened images in OpenedImage.tsx*/

.imageContainer {
    position: relative;
    justify-content: center;
    align-items: center;
}

.imageContainer img {
    display: block;
    width: 70vw;
    height: 70vh;
}

.openImageOverlay2 {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    z-index: 1500;
}