.container header {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 14px;
    right: 14px;
    top: 0px;
}

.container {
    position: absolute;
    display: flex;
    top: 8px;
    width: 100%;
    justify-content: center;
}