.container header {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 14px;
    right: 14px;
    top: 0px;
}

.container {
    max-width: 1280px;
    position: relative;
    display: flex;
    top: 8px;
    width: 100%;
    height: fit-content;
    justify-content: center;
}