@value bgSubdued1, borderBrightBlue, textDark from "@knicos/genai-base/css/colours.module.css";

.groupedItems {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 700px;
    box-sizing: border-box;
    z-index: 2;
}

.selectModelMessage {
    justify-content: space-between;
    font-size: 1.6rem;
    color: textDark;
    padding: 2rem;
    display: flex;
    gap: 3rem;
    overflow: hidden;
}

.selectModelMessage em {
    font-weight: bold;
    font-style: normal;
    font-size: 1.8rem;
}

.selectModelMessage a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.columnItem {
    text-align: center;
}

.title {
    background: bgSubdued1;
    border-bottom: 2px solid borderBrightBlue;
}

.buttonGroup {
    font-size: 1.2rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    color: textDark;
    text-align: left;
    align-items: center;
    display: flex;
    width: 100%;
    gap: 1rem;
    justify-content: end;
}