@value primary, textDark from "@genai-fi/base/css/colours.module.css";

.container {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
}

.container h1 {
    color: textDark;
}