.container {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    align-self: center;
    overflow: auto;
    background: white;
    align-items: center;
    background-image: url('/genAiTausta.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.innerContainer {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selectionButtons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}