@value bgSubdued1, borderBrightBlue, textDark from "@genai-fi/base/css/colours.module.css";

.connectMessage {
    font-size: 1.6rem;
    color: textDark;
    padding: 2rem;
    display: flex;
    gap: 2rem;
    overflow: hidden;
}

.connectMessage em {
    font-weight: bold;
    font-style: normal;
    font-size: 1.8rem;
}

.connectMessage a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.userListing {
    padding: 2rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: wrap;
    color: textDark;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}

.title {
    background: bgSubdued1;
    border-bottom: 2px solid borderBrightBlue;
}

.buttonGroup {
    display: flex;
    gap: 1rem;
}
