.student {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    align-self: center;
    overflow: auto;
    background: rgb(34, 33, 38);
    align-items: center;
    max-width: 1400px;
}

.term {
    color: white
}

.gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    max-width: 512px;
}

.galleryContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}


/*For displaying text that camera is not active on top of the webcam component*/
.cameraNotActive {
    display: block;
    position: absolute;
    top: 50%;
    align-self: center;
    justify-self: center;
    background-color: rgba(240, 248, 255, 0.712);
    border-radius: 4px;
    padding: 4px 8px;
    backdrop-filter: blur(10px) brightness(150%);
    z-index: 10000;
}