.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1rem;
    align-self: center;
    justify-content: center;
    justify-self: center;
    overflow: auto;
    align-items: center;
}

.container h1 {
    font-family: 'Tektur';
    font-weight: bold;
    font-size: 3rem;
    margin: 0;
}

.datasetContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    box-sizing: border-box;
    gap: 1rem;
    max-height: 50dvh;
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
    padding: 1rem;
}

.image {
    flex: 1 0 320px;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}