.resultsWrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000c9;
    z-index: 1000;
}

.resultsContainer {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    width: min-content;
}

.resultGallery {
    flex-direction: column;
    margin-top: 1rem;

    background-color: rgba(255, 255, 255, 0.646);
    padding: 1.2rem 2rem 1.2rem 2rem;
    border-radius: 1rem;
    backdrop-filter: blur(10px);
    max-height: 80vh;
    max-width: 80dvw;
    overflow: auto;
}

.headerToggle {
    display: flex;
    width: 100%;
    justify-content: center;
    color: black;
    opacity: 1;
}


.image {
    height: 100%;
    max-height: 156px;
    object-fit: contain;
    display: block;
    cursor: pointer;
}

.imageColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem
}

.imagesContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.openImageOverlay {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    z-index: 1000;
    height: 100vh;
    width: 100vw
}

.noData {
    justify-items: center;
    align-items: center;
    text-align: center;
}

.hiddenTag {
    position: relative;
    top: -38px;
    right: -122px;
    max-width: 35px;
}

@media (max-width: 600px) {
    .container {
        top: 0;
        width: 85%;
        margin: auto;
        margin-top: 2rem;
        overflow: auto;
        max-height: 70%;
    }
}

@media (max-width: 500px) {
    .openImage {
        min-width: 0;
        min-height: 0;
        height: 100%;
        width: 100%;
        max-width: 90dvw;
        max-height: 90dvh;
    }
}