@value workspaceBg, primary, secondary, backgroundDark from "@genai-fi/base/css/colours.module.css";
@value selectedColor: rgba(45, 236, 239, 0.309);
@value unSelectedColor: rgba(45, 236, 239, 0.309);

.userGrid {
    flex-direction: row;
    display: flex;
    gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    max-height: 87dvh;
    overflow: auto;
}

.userGridContainer {
    background: linear-gradient(45deg, rgba(23, 83, 114, 0.94), rgba(36, 43, 44, 0.178));
    border-radius: 1rem;
    overflow: auto;
    max-width: calc(8 * 220px + 4 * 1rem);
    margin: 0 auto;
    width: 100%;
}

.grid {
    display: grid;
    grid-auto-flow: row;
    min-height: 0;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    align-items: center;
    justify-items: center;
    gap: 2.2rem;
    box-sizing: border-box;
    padding: 2rem 2rem 2rem;
}

.gridItem {
    background: linear-gradient(45deg, rgba(16, 15, 63, 0.677), rgba(80, 120, 195, 0.68));
    min-width: max-content;
    overflow: hidden;
    border-radius: 4px;
    padding: 1rem;
    box-shadow: 2px 2px 5px #2a2a2b;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-align: initial;
    overflow: visible;
}

.gridItem:hover {
    box-shadow: 0 0 8px selectedColor;
}

.gridItem:focus {
    box-shadow: 0 0 8px selectedColor;
}

.loadingWrapper {
    position: relative;
    top: 40%;
}

.userImageContainer {
    align-self: center;
    line-height: 0;
    text-align: center;
    padding: 0.5rem;
    overflow: hidden;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin-bottom: 0.5rem;
}

.userImageContainer img {
    max-width: 100%;
    max-height: 100%;
}

.placeholder {
    margin: auto;
    background: white;
    border-radius: 50%;
    aspect-ratio: 1/1;
    max-width: 100%;
    max-height: 100%;
}

.userImageContainer svg {
    aspect-ratio: 1/1;
}

.colourBox {
    height: 100%;
    width: 28px;
    aspect-ratio: 1/1;
}

.userNameContainer {
    padding: 0.3rem;
    background: rgba(13, 73, 74, 0.309);
    color: white;
    font-weight: bold;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
    line-height: 2rem;
    min-height: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.selectedUserNameContainer {
    composes: userNameContainer;
    background: selectedColor;
}

.crownWrapper {
    position: relative;
}

.crownImg {
    position: absolute;
    top: -24px;
    left: 31%;
    pointer-events: none;
}

.word {
    transition: transform 1s;
}

.word rect {
    opacity: 0.9;
    fill: backgroundDark;
}

.word text {
    fill: white;
}