@value workspaceBg, primary, secondary, backgroundDark from "@genai-fi/base/css/colours.module.css";

.userGridContainer {
    overflow: auto;
    max-width: calc(5 * 220px + 4 * 1rem);
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-auto-flow: row;
    min-height: 0;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    align-items: center;
    justify-items: center;
    gap: 1.5rem;
    box-sizing: border-box;
    padding: 2rem 2rem 2rem;
}

.gridItem {
    background: workspaceBg;
    overflow: hidden;
    border-radius: 4px;
    padding: 1rem;
    box-shadow: 2px 2px 5px #bbb;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-align: initial;
}

.gridItem:hover {
    box-shadow: 0 0 8px secondary;
}

.gridItem:focus {
    box-shadow: 0 0 8px secondary;
}

.userImageContainer {
    align-self: center;
    line-height: 0;
    text-align: center;
    padding: 0.5rem;
    overflow: hidden;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin-bottom: 0.5rem;
}

.userImageContainer img {
    max-width: 100%;
    max-height: 100%;
}

.placeholder {
    margin: auto;
    background: white;
    border-radius: 50%;
    aspect-ratio: 1/1;
    max-width: 100%;
    max-height: 100%;
}

.userImageContainer svg {
    aspect-ratio: 1/1;
}

.colourBox {
    height: 100%;
    width: 28px;
    aspect-ratio: 1/1;
}

.userNameContainer {
    padding: 0.3rem;
    background: primary;
    color: white;
    font-weight: bold;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
    line-height: 2rem;
    min-height: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.selectedUserNameContainer {
    composes: userNameContainer;
    background: secondary;
}

.word {
    transition: transform 1s;
}

.word rect {
    opacity: 0.9;
    fill: backgroundDark;
}

.word text {
    fill: white;
}