.scoreDetails {
    max-height: 0;
    overflow: hidden;
}

.scoreDetailsOpen {
    overflow: hidden;
    max-height: 1000px;
    transition: max-height 0.6s ease;
    /* tarpeeksi iso kaikelle sisällölle */
}

.scoresContainer {
    padding: 8px 20px;
}

.termItemRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 18px;
    justify-content: space-between;

}

/* Has the scores of single term*/
.termItemContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    color: black;
    background-color: rgba(255,
            255,
            255,
            0.421);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    gap: 8px;
    backdrop-filter: blur(10px);
}

/* Includes the canvases*/
.topCanvasContainer {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    max-height: 400px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

/* One canvas for top-image and one for heatmap*/
.topCanvas {
    max-width: 400px;
    border-radius: 10px;
}

.scoreBarContainer {
    width: 50%;
    padding-top: 30px;
    text-align: left;
}

.scoreBar {
    position: relative;
    display: block;
    padding: 5px 5px 5px 5px;
    overflow: hidden;
    font-size: 16px;
    line-height: 16px;
    border-radius: 30px;
    background: rgba(110, 175, 124, 0.114);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.8);
}

/*TopScore*/
.scoreBar span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    height: 20px;
    border-radius: 10px 4px 4px 10px;
    background-color: #f56982;
    /*asetetaan parempi? väri tänne vaikka kulta*/
    background-size: 100%;
    background-image: linear-gradient(to bottom, #f9e31d, #fbff28);
    /*animation: scoreBar 6s infinite linear;*/
}

.scoreBar span::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    border-radius: 10px;
    background-size: 100%;
    background-image: linear-gradient(45deg, #fff 25%,
            rgba(0, 0, 0, 0)25%,
            rgba(0, 0, 0, 0)50%,
            #fff 50%,
            #fff 75%,
            rgba(0, 0, 0, 0)75%,
            rgba(0, 0, 0, 0));
    background-size: 30px 30px;
    opacity: 0.4;
    animation: scoreBarAfter 0.7s infinite linear;
}

.scoreBarToolTip {
    position: relative;
    display: block;
    top: -28px;
    z-index: 1;
}

.scoreBarToolTip span::before {
    position: absolute;
    right: -2px;
    bottom: 100%;
    display: inline-block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right-width: 0;
    border-bottom-width: 0;
    border-top-color: rgb(255, 229, 28);
    content: "";
}

.scoreBarToolTip span::after {
    position: absolute;
    right: -2px;
    bottom: calc(100% + 5px);
    z-index: 1;
    display: inline-block;
    content: attr(data-label);
    padding: 5px 8px;
    border-radius: 3px;
    font-size: 0.8em;
    background-color: rgb(240, 237, 34);
    color: #000000;
}

@keyframes scoreBar {
    0% {
        width: 0%
    }

    50% {
        width: 60%;
    }

    100% {
        width: 0%;
    }
}

@keyframes scoreBarAfter {
    0% {
        background-position: 0 100%;
    }

    100% {
        background-position: 30px 100%;
    }
}