.container {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
    justify-self: center;
    background-color: rgba(255,
            255,
            255,
            0.421);
    padding: 1.5rem 1rem 2rem 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 100px 100px;
    backdrop-filter: blur(10px);
    z-index: 10;
}

.headerToggle {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.datasetContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-sizing: border-box;
    gap: 1rem;
    max-height: 400px;
    overflow-y: auto;
    padding: 1rem;
}

.image {
    width: 100%;
    height: 100px;
    object-fit: contain;
    display: block;
    cursor: pointer;
}

.openImageOverlay {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    z-index: 1000;
    height: 100vh;
    width: 100vw
}


.noData {
    justify-items: center;
    align-items: center;
    text-align: center;
}