.datasetGallery {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 95dvh;
    max-width: 95dvw;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.929);

    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    z-index: 10;
}

.teacherGallery {
    gap: 1.5rem;
    background-color: rgb(255, 255, 255);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    margin: auto;
    transform: none;
    max-width: 1200px;
    min-width: none;
    height: 100vh;
    padding: 0;
    max-height: none;
    backdrop-filter: none;
    border-radius: 0;
    z-index: 11;
}

.titleRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.teacherRow {
    margin-top: 2rem;
}

.imageGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-sizing: border-box;
    gap: 1rem;
    max-height: 600px;
    overflow-y: auto;
    padding: 1rem;
    scrollbar-color: rgb(22, 27, 35) rgb(106, 123, 128);
}

.teacherGrid {
    grid-template-columns: repeat(3, 1fr);
    scrollbar-color: rgb(22, 27, 35) rgb(159, 193, 204);
    gap: 2rem;
}


.image {
    width: 200px;
    height: 100%;
    max-height: 200px;
    object-fit: contain;
    display: block;
    cursor: pointer;
}

.openImage {
    box-shadow: 0 0 24px #000;
    min-height: 400px;
    min-width: 400px;
    max-width: 70dvw;
    max-height: 70dvh;
}

.openImageOverlay {
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw
}

.selector {
    padding: 4px;
    max-width: 50dvw;
    max-height: 600px;
    width: 500px;
}

.noData {
    justify-items: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 600px) {
    .container {
        top: 0;
        width: 85%;
        margin: auto;
        margin-top: 2rem;
        overflow: auto;
        max-height: 70%;
    }
}

@media (max-width: 500px) {
    .image {
        width: 100%;
        height: 100%;
    }

    .openImage {
        min-width: 0;
        min-height: 0;
        height: 100%;
        width: 100%;
        max-width: 90dvw;
        max-height: 90dvh;
    }
}