.enterUserInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    height: 100dvh;
    gap: 1.5rem;
    background-color: white;
}

.noPicContainer {
    composes: enterUserInfo;
    gap: 3rem;
}

.textField {
    width: 80%;
    max-width: 600px;
}

.restoreButton {
    display: flex;
    cursor: pointer;
    gap: 1rem;
}

.restore {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 38px;
    width: 80%;
    max-width: 600px;
}

.imageContainer canvas {
    width: 100%;
}

/* Change imported webcam style*/
.imageContainer [class*='wrapContainer'] {
    color: rgb(48, 189, 173);
}

.imageContainer [class*='Mui'] {
    position: absolute;
    right: 6px;
    z-index: 2000;
    top: 6px;
}